.container.text-center
  .row
    .col
      %h2 Total Income
      %h3
        %span.badge.rounded-pill.text-bg-success
          = number_to_currency(month.total_income)
    .col
      %h2 Total Expense
      %h3
        %span.badge.rounded-pill.text-bg-danger
          = number_to_currency(month.total_expense)
    .col
      %h2 Total Investment
      %h3
        %span.badge.rounded-pill.text-bg-warning
          = number_to_currency(month.total_investment)

