= render("months/headline", month: @month)
= render @month

.container-fluid
  .col-3
    = turbo_frame_tag(:expense_list, src: month_events_expenses_path(@month.id), loading: :lazy) do
      Loading expenses...

